<div>
    <p>This data shows the formants measured in <strong>task 7 (reading a story)</strong>.This data is a spin-off of my rhythm-metrics. The annotation is as follows: The plot shows SAMPA-symbols as the ideal pronunciation. So ideally a word like "стена" is pronounced "stin'a", but if a child pronounced it like "st<strong>e</strong>na" then the ideal "i" is in the region of "e".</p>
    <p>A ideal picture of formants should look like a triangle, but here only one participant shows that; the others have a rather unstable pronunciation, so there is less vowel reduction than expected.</p>
<div id="chart_div"></div>
<script src="./target/js/formants.js"></script>
</div>

