<div>
    <style>
.cats-list{
    display: inline-flex;
    list-style:none;
}
    </style>

    <p>
    This plot shows the results of <strong>task 3</strong> in our project. The children were asked to name the pictures shown to them. The pictures were chosen accordingly to some phonological thoughts, but they also had a frequency component. In the plot biographical data is correlated against frequency of words (source: <a href=http://dict.ruslang.ru/freq.php>Sharov and Ljashevskaja</a>).</p>
    <p>
    Interestingly there is a correlation between phonetic measurements and the spoken frequency of the words, but to smaller extent with the biography of the children.
    <div id='choices'></div>
</div>


