<div>
    <style>
img {
    float:left;
    max-width: 400px;
    padding-right:19px;    
}
.task{display:inline-block;}
    </style>
    <div>This is a short summary of the steps in the Lima-Survey</div>
    <div class='task'>
    <h3>Task 3</h3>
    <img src='static/data/lima/task3.jpg'>
    <p>
    The children were asked to name the items on the pictures. If they named the picture with a false item, they were encouraged to find a new name. For example "vrach" can also be named "doctor". In such a case, the question was asked by interviewer:"Can you name it in another way?"
    </p>    
    <ul>Results used in:
        <li>Cards</li>
    </ul>
   
</div><div class='task'>
    <h3>Task 4</h3>
    <p>
    <img src='static/data/lima/task4.jpg'>
    The children should combine the pictures to a little story. 
    This and the following tasks are found under:
    <ul>
        <li>Child Corpus</li>
    </ul>
    </p>
</div><div class='task'>    <h3>Task 5</h3>
    <p>
    There were two parts of the task: A map without the line and one with the line which should symbolize the way to finish. The child got the completed map and should lead the other person (which was the interviewer or family member and got the map without the way through) only with verbal expressions to the goal.
    <ul>
        <li>Child Corpus</li>
    </ul>
    </p>
    <img  src='static/data/lima/task5_done.jpg'>
    <img class='img_left' src='static/data/lima/task5.jpg'>
</div><div class='task'>    <h3>Task 6</h3>
    <p>
    <img style="float:left;" src='static/data/lima/task6.jpg'>
    This task was similar to 4. The children should also tell a story with the help of the pictures. This picture story was drawn based on the short story in the coming task.
    <ul>
        <li>Child Corpus</li>
    </ul>
    </p>
</div>
<div class='task'> <h3>Task 7</h3>
    <p>
    The children should read the story aloud. Used in:
    <ul>
        <li>Dynamics of Rhythm</li>
        <li>Rhythm and Biography</li>
        <li>Formants</li>
        <li>VOT</li>
    </ul>
    </p>
    <iframe src='static/data/lima/task7.html' width=800px height=400px ></iframe>
</div></div>
