<div id='doc'>
    <style>
.selected-code{
    background-color: red;
}
.marked-code:hover{
    border:2px green solid;
    z-index:300;

}
.marked-code{
    background-color: red;
    width:20px;
    position:absolute;
    border:1px grey solid;
}
.sent{
    position:relative;
    display:table;
}
.code-wrap{
    position:relative;
}
    </style>
    <div
        ><div class='col-lg-6'> 
        <textarea class='form-control' id='max-qda-doc'>

Источник: Московские новости 
Номер выпуска: 12
Дата выпуска: 30.03.1999
Рубрика: КРИЗИС
Автор: СЕРГЕЙ БАБУРИН
Заглавие: СЕРГЕЙ БАБУРИН: "ХВАТИТ ГОВОРИТЬ ЖЕСТКО. ПОРА ДЕЙСТВОВАТЬ!"

     Что такое действия НАТО на Балканах? Во-первых, это вызов
международным традициям и принципам международного права.
Фактически 25 марта 1999г. умерла ООН. Не случайно среди тех, кто
резко осудил действия НАТО, не только Россия, Белоруссия, Китай и
Украина, но и Австрия, Италия, другие государства с
демократическими традициями.
     Во-вторых, бомбардировки Белграда означают переворот в
мировом порядке. Это не просто полное разрушение Потсдамской
системы европейской безопасности. Это начало заката Европы, это
крах США как мирового морального лидера. Да, однополюсный мир еще
сохранится. Но теперь уже все увидели, что во главе этого мира
стоит людоед. Роковую роль для Соединенных Штатов Америки сыграли
Клинтон и его команда. Америка могла бы стать другой и занять куда
более престижное положение в мире. Сегодня мы должны
констатировать: 50 лет мира в Европе - это заслуга Варшавского
Договора. Когда он существовал, Европа, даже несмотря на "холодную
войну", была мирной. Сегодня Европа раскололась, так как НАТО
продемонстрировала всему миру, что разговоры о трансформации этого
блока в политический орган - это блеф. Встает вопрос о создании
системы безопасности антинатовских стран. Уже раздались голоса о
размещении тактического ядерного оружия на территории Белоруссии,
о выходе Украины из безъядерного статуса. Кстати, впервые за
последние годы возникла ситуация, когда Россия, Украина и
Белоруссия выступили солидарно.Согласитесь, это многого стоит. В
связи с событиями в Югославии в Государственной думе, я надеюсь,
будет рассмотрен вопрос о поставках военной техники на Балканы.
Хватит говорить жестко. Пора действовать. Ведь сегодня в Югославии
происходит то, что будет завтра в России. Если мы не хотим, чтобы
натовские ракеты рвались на Кавказе или в Поволжье, нам нужно
пресечь их полет на Балканах. Если бы не наше ядерное оружие, НАТО
давно бы обеспокоилось, как у нас живут эвенки или чукчи. Это было
бы в русле натовской логики.

</textarea>
</div>
<div class='col-lg-6'>
<textarea class='form-control' id='codes'>
,Slot2.0\Kosovo_NATOBomb_Baburin_1999.03.30,A3 reaction impulse\A3.1 condemnation\A3.1.1 expressing disapproval,9,12,0," Не случайно среди тех, кто
резко осудил действия НАТО, не только Россия, Белоруссия, Китай и
Украина, но и Австрия, Италия, другие государства с
демократическими традициями.",Fischer,18.07.2014 11:37:00,Slot2.0,1
,Slot2.0\Kosovo_NATOBomb_Baburin_1999.03.30,A2 causer\A2.2 causer attribution,17,18,0,"Но теперь уже все увидели, что во главе этого мира
стоит людоед.",Fischer,18.07.2014 11:38:00,Slot2.0,1
,Slot2.0\Kosovo_NATOBomb_Baburin_1999.03.30,A4 self-perception/self-presentation\A4.1 weight,20,22,0,"Сегодня мы должны
констатировать: 50 лет мира в Европе - это заслуга Варшавского
Договора.",Fischer,18.07.2014 11:39:00,Slot2.0,1
,Slot2.0\Kosovo_NATOBomb_Baburin_1999.03.30,A4 self-perception/self-presentation\A4.6 historical awareness/experience,20,22,0,"Сегодня мы должны
констатировать: 50 лет мира в Европе - это заслуга Варшавского
Договора.",Fischer,18.07.2014 11:39:00,Slot2.0,1
,Slot2.0\Kosovo_NATOBomb_Baburin_1999.03.30,A3 reaction impulse\A3.2 action required\A3.2.1 action type\deterrence/military posturing,25,28,0,"Встает вопрос о создании
системы безопасности антинатовских стран. Уже раздались голоса о
размещении тактического ядерного оружия на территории Белоруссии,
о выходе Украины из безъядерного статуса.",Fischer,18.07.2014 11:40:00,Slot2.0,1
,Slot2.0\Kosovo_NATOBomb_Baburin_1999.03.30,A3 reaction impulse\A3.2 action required\A3.2.1 action type\deterrence/military posturing,30,32,0,"В
связи с событиями в Югославии в Государственной думе, я надеюсь,
будет рассмотрен вопрос о поставках военной техники на Балканы.",Fischer,18.07.2014 11:41:00,Slot2.0,1
,Slot2.0\Kosovo_NATOBomb_Baburin_1999.03.30,A3 reaction impulse\A3.2 action required\A3.2.3 solution alternative,33,34,0,"Хватит говорить жестко. Пора действовать. Ведь сегодня в Югославии
происходит то, что будет завтра в России.",Fischer,18.07.2014 11:41:00,Slot2.0,1
,Slot2.0\Kosovo_NATOBomb_Baburin_1999.03.30,A3 reaction impulse\A3.2 action required\A3.2.3 solution alternative,34,36,0,"Если мы не хотим, чтобы
натовские ракеты рвались на Кавказе или в Поволжье, нам нужно
пресечь их полет на Балканах.",Fischer,18.07.2014 11:41:00,Slot2.0,1
,Slot2.0\Kosovo_NATOBomb_Baburin_1999.03.30,A1 problem\A1.1 problem identification\double standards of the West,23,25,0,"Сегодня Европа раскололась, так как НАТО
продемонстрировала всему миру, что разговоры о трансформации этого
блока в политический орган - это блеф.",heller,13.08.2014 11:44:00,Slot2.0,1
,Slot2.0\Kosovo_NATOBomb_Baburin_1999.03.30,A2 causer\A2.1 causer identification\USA,16,16,0, США ,Fischer,14.08.2014 14:25:00,Slot2.0,1
,Slot2.0\Kosovo_NATOBomb_Baburin_1999.03.30,A1 problem\A1.2 problem attribution\destruction of civilizational achievements,7,8,0,"Что такое действия НАТО на Балканах? Во-первых, это вызов
международным традициям и принципам международного права.",Fischer,22.08.2014 13:40:00,Slot2.0,1
,Slot2.0\Kosovo_NATOBomb_Baburin_1999.03.30,A1 problem\A1.1 problem identification\weakening of international organisations,9,9,0,Фактически 25 марта 1999г. умерла ООН.,Fischer,22.08.2014 13:40:00,Slot2.0,1
,Slot2.0\Kosovo_NATOBomb_Baburin_1999.03.30,A3 reaction impulse\A3.2 action required\A3.2.3 solution alternative,36,38,0,"Если бы не наше ядерное оружие, НАТО
давно бы обеспокоилось, как у нас живут эвенки или чукчи. Это было
бы в русле натовской логики.",Fischer,11.09.2014 13:05:00,Slot2.0,1
,Slot2.0\Kosovo_NATOBomb_Baburin_1999.03.30,A3 reaction impulse\A3.1 condemnation\A3.1.3 blaming/negative consequences general,13,15,0,"Во-вторых, бомбардировки Белграда означают переворот в
мировом порядке. Это не просто полное разрушение Потсдамской
системы европейской безопасности. Это начало заката Европы",Fischer,12.09.2014 12:31:00,Slot2.0,1
,Slot2.0\Kosovo_NATOBomb_Baburin_1999.03.30,A3 reaction impulse\A3.2 action required\A3.2.1 action type\help/support Yugoslavia (Beistand leisten),35,36,0,"нам нужно
пресечь их полет на Балканах",Fischer,12.09.2014 14:51:00,Slot2.0,1
</textarea>
</div>
</div>
<div id='object-maxqda'>
    <select id='maxqda-doc-pool'></select></div>
    <div id='codes-col' class='col-lg-2' 
        ></div>
    <div id='text' class='col-lg-10'>
</div>
</div>
</div>


