<div>
    <script type="text/javascript" charset="utf-8">
        BIO_RHYTHM="#chart_rhythm_bio";
    </script>
    <div id="chart_rhythm_bio"></div>
    <div id='chart_div'></div>
    <div id='chart_div_end'></div>
    <button id='next-part' class='inter-chart'>Next participant</button>
    <button id='toggle-basis' class='inter-chart'>Toggle letter-class</button>
    <input class='nbin-field'  type=number value=5>
    <button class='bin-update'>Update</button>
    <script type='text/javascript' src='target/js/rhythm_dyn.js'></script>
    <script type='text/javascript' src='target/js/rhythm.js'></script>
</div>
