div#map.d3


link(rel="stylesheet" type="text/css" href="/static/css/box.css")
script(type="text/javascript" src="/static/data/part_name_vot.js")
script(type="text/javascript" src="/static/js/underscore-min.js")
script(type="text/javascript" src="/static/data/boxplot_vot.js")
script(type="text/javascript" src="/static/data/group_name_vot.js")
script(type="text/javascript" src="/static/js/box.js")
script(type="text/javascript" src="target/js/vot.js")
